.city
{   display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    background-color: #f3f3f3;
    text-align: center;
    padding: 6px;
    &__text{
    font-family: "Roboto-Medium", "cursive";
    }
}
.explore
{
   text-align: center;
   background-color: #fafafa;
   padding: 45px;
   margin: 0px;
}
.explore__text
{
   font-family: "Roboto-Bold", cursive;
}

.explore h1{
    margin: 0px;
}
.explore button{
    color: white;
    font-size: large;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 1px 3px 4px lightgray;
    border: none;
    background: linear-gradient($color-secondary, $color-primary);
}
.contenaire{
    display: flex;
    justify-content: space-evenly;
}