.city
{   display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    background-color: $lightgrey;
    text-align: center;
    padding: 6px;
    &__text{
    font-family: "Roboto-Medium", "cursive";
    }
}
.explore
{
   text-align: center;
   background-color: $lightgray;
   padding: 45px;
   margin: 0px;
   margin-bottom: 40px;
}
.explore__text
{
   font-family: "Roboto-Bold", "cursive";
}

.explore h1{
    margin: 0px;
}
.explore button{
    color: $colour-white;
    font-size: large;
    padding: 15px;
    border-radius: 25px;
    @include function-shadow;
    border: none;
    background: linear-gradient($color-secondary, $color-primary);
}
