.dugout{
    background-color: $lightgray;
 }
.menu__image{
     & img{
        width: 100%;
        object-fit: cover;
         object-position: center bottom;
    }
}

.restaurant{
    margin-top: -49px;
    position: relative;
        & h2{
           font-family: 'Shrikhand-Regular';
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 40px 40px 0 0;
            background-color: $lightgray;
            margin-top: 0;
            padding: 32px;
                & .fas{
                font-size: 26px;
                font-weight: 50;
                -webkit-background-clip: text;
                transition: transform 400ms, background-image 300ms 150ms;
                }
     
                & .fas:hover { 
                transform: scale(1.15);   
                color: transparent; 
                background-image: linear-gradient($colour-primary, $colour-secondary);  
                opacity: 4;
                font-weight: 900;
                }

        }
}

.contenaire{
    display: flex;
     width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
                        
                                    
        @media (max-width: 800px){
            flex-direction: column;
        }  
}

.menu{
    margin: 15px;

         & h4{
            @include border;            
         }

        & .menu__card{
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            cursor: pointer;
            background-color: $colour-white;
            border-radius: 15px;
            margin: 15px;

            & .menu__item{
                padding: 15px;
                overflow: hidden;
                white-space: nowrap;
            
            }

            & .menu-entrees__name{
                font-weight: bolder;
            }

            & .menu-entrees__price{
                display: flex;
                align-items: flex-end;
                margin-left: auto;
                font-weight: bolder;
                padding: 15px;
            }

            & .menu-entrees__check {
                background-color: $colour-tertiary;
                width: 55px;
                padding: 15px;
                display: none;
                transition-duration: 500ms;
                transition-property: margin-right;
            }

                &:hover {
                    .menu-entrees__check{
                    display: inline; 
                    
                    }
                        i{
                            @include check;
                            animation: check 0.5s ease-in-out;
                        }

                }
               
            
            & .menu-entrees__check i{
                color: $colour-white;
                display: grid;
                place-items: center;
                margin-top: 11px;
                font-size: large;
            }
           
          
        }
}

.order{
    text-align: center;
    padding: 60px;
    margin-top: -25px;
    & button{
        min-width: 179px;
        @include btn    
    }
}

.footer{
    @include footer
}