@mixin function-shadow {
box-shadow: 1px 3px 3px 1px lightgray;
}


@mixin btn {
    color: $colour-white;
    font-size: large;
    padding: 15px;
    border-radius: 25px;
    @include function-shadow;
    border: none;
    background: linear-gradient($color-secondary, $color-primary);
}

@mixin footer {
        background-color: rgb(71, 70, 70);
        padding: 15px;
            & .footer__services{
                margin-left: 5px;
        
                & .footer__list{
                    font-family: "Roboto-Bold"; 
    
                   padding: 0;
                
                }
    
                & .footer__title{ 
                font-family: 'Shrikhand-Regular';
                font-size: 18px;
                color: $colour-white;
                }
    
                    & li a{
                        color: $colour-white;
                        & .fa-hands-helping{
                            font-size: 11px;
                        }
                        & .fas{
                            margin-right: 11px;
                        }
            }
    
        }
    }
